.logout-icon {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    background: red;
    color: white;
  }

.field{
  margin-top: 20;
  margin-bottom: 20;
  display: block;
}