.newServicePage {
    height: 100vh;
    weight: 100vw;
    background: linear-gradient(122.19deg, #da2079 1.89%, #2a00d5 113.56%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
  }
  .content {
    max-width: 600px;
    height: 100vh;
    margin: 40px auto;
    padding: 20px;
  }
  .add-edit-input {
    position: absolute;
    top: 20px;
    outline: none;
    border: none;
    height: 30px;
    font-size: 25px;
    padding: 5px 20px;
  }
  
  .add-confirm-icon {
    position: absolute;
    transform: scale(1.5);
    top: 27px;
    right: 750px;
    cursor: pointer;
  }
  
  .service {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 10px;
  }
  
  .service >Link > h1 {
    width: 500px;
    background-color: rgb(211, 211, 211);
    padding: 5px 10px;
  }
  
  .edit-button,
  .delete-button {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .home-icon{
    position: absolute;
    transform: scale(1.5);
    top: 10px;
    left: 10px;
    cursor: pointer;
  }


  /* blog previews / list */
.service-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.service-preview:hover {
  box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
}
.service-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.service-preview a{
  text-decoration: none;
}

.register-service-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;

  background: #ffffff;
}

.register-service-container > input {
  height: 30px;
  width: 80%;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 5px;
}

.register-service-container > button {
  padding: 5px 20px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.register-service-container > button > .register-button{
  position: absolute;
  cursor: pointer;
}