

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.welcome {
  height: 100vh;
  width: 100vw;
  background: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
  position: relative;
  overflow: hidden;
}

.welcome > h1 {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 100px;
  left: 46px;
  top: 0px;
  position: absolute;
  color: white;
}

.login-register-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 50px;
  left: 150px;
  top: 360px;
  background: #ffffff;
}

.login-register-container > input {
  height: 30px;
  width: 80%;
  border: 1px solid gray;
  outline: none;
  margin-bottom: 15px;
  font-size: 25px;
  padding: 5px;
}

.login-register-container > button {
  padding: 5px 20px;
  border: none;
  margin-bottom: 5px;
  cursor: pointer;
}

.sign-in-register-button {
  background: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 10px;
  font-family: "Roboto";
  font-weight: normal;
  color: white;
}

.create-account-button {
  background: none;
  margin-top: 10px;
}

.logopng{
    position: absolute;
    top: 210px;
    left: 230px;
    transform: scale(1.3);
}